<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ruby.guppang.workRecord.WorkRecordMapper">
    <insert id="insert" parameterType="ruby.guppang.workRecord.WorkRecord">
        INSERT INTO     WORK_RECORD
                        (
                            WORKER_ID,
                            WORK_TIME,
                            WORK_PLACE,
                            WORK_STATE
                        )
        VALUES          (
                            #{workerId},
                            #{workTime},
                            #{workPlace},
                            #{workState}
                        );
    </insert>

    <select id="existsByIdAndWorkerId" parameterType="map" resultType="boolean">
        SELECT 			EXISTS  (
                                    SELECT          ID
                                    FROM            WORK_RECORD
                                    WHERE           ID = #{id}
                                    AND             WORKER_ID = #{workerId}
                                )
        FROM 			DUAL;
    </select>

    <update id="updateWorkState" parameterType="map">
        UPDATE          WORK_RECORD
        SET             WORK_STATE = #{workState}
        WHERE           ID = #{id};
    </update>
</mapper>