<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ruby.guppang.workRecord.WorkRecordMapper">
    <insert id="insert" parameterType="ruby.guppang.workRecord.WorkRecord">
        INSERT INTO     WORK_RECORD
                        (
                            WORKER_ID,
                            WORK_TIME,
                            WORK_PLACE,
                            WORK_STATE,
                            WORK_DATE
                        )
        VALUES          (
                            #{workerId},
                            #{workTime},
                            #{workPlace},
                            #{workState},
                            #{workDate}
                        );
    </insert>

    <select id="existsByIdAndWorkerId" parameterType="map" resultType="boolean">
        SELECT 			EXISTS  (
                                    SELECT          ID
                                    FROM            WORK_RECORD
                                    WHERE           ID = #{id}
                                    AND             WORKER_ID = #{workerId}
                                )
        FROM 			DUAL;
    </select>

    <select id="findByWorkerAndPeriod" parameterType="map" resultType="ruby.guppang.workRecord.dto.WorkRecordGet">
        SELECT          ID AS id,
                        WORK_TIME AS workTime,
                        WORK_PLACE AS workPlace,
                        WORK_STATE AS workState,
                        WORK_DATE AS workDate
        FROM 			WORK_RECORD
        WHERE           WORKER_ID = #{workerId}
        AND             WORK_DATE BETWEEN #{period.start} AND #{period.end}
        ORDER BY        ID DESC;
    </select>

    <update id="updateWorkState" parameterType="map">
        UPDATE          WORK_RECORD
        SET             WORK_STATE = #{workState}
        WHERE           ID = #{id};
    </update>
</mapper>